.m-5{
    margin: 5px;
}

.m-x-5{
    margin-left: 5px;
    margin-right: 5px;
}

.m-y-5{
    margin-top: 5px;
    margin-bottom: 5px;
}

.m-l-5{
    margin-left: 5px;
}

.m-r-5{
    margin-right: 5px;
}

.m-t-5{
    margin-top: 5px;
}

.m-b-5{
    margin-bottom: 5px;
}

.m-10{
    margin: 10px;
}

.m-x-10{
    margin-left: 10px;
    margin-right: 10px;
}

.m-y-10{
    margin-top: 10px;
    margin-bottom: 10px;
}

.m-l-10{
    margin-left: 10px;
}

.m-r-10{
    margin-right: 10px;
}

.m-t-10{
    margin-top: 10px;
}

.m-b-10{
    margin-bottom: 10px;
}

.p-5{
    padding: 5px;
}

.p-x-5{
    padding-left: 5px;
    padding-right: 5px;
}

.p-y-5{
    padding-top: 5px;
    padding-bottom: 5px;
}

.p-l-5{
    padding-left: 5px;
}

.p-r-5{
    padding-right: 5px;
}

.p-t-5{
    padding-top: 5px;
}

.p-b-5{
    padding-bottom: 5px;
}

.p-10{
    padding: 10px;
}

.p-x-10{
    padding-left: 10px;
    padding-right: 10px;
}

.p-y-10{
    padding-top: 10px;
    padding-bottom: 10px;
}

.p-l-10{
    padding-left: 10px;
}

.p-r-10{
    padding-right: 10px;
}

.p-t-10{
    padding-top: 10px;
}

.p-b-10{
    padding-bottom: 10px;
}

.bg-default{
    background-color: #00c292;
    color: white;
}

.text-default{
    color: #00c292;
}

button.no-border{
    border: none !important;
}

button.bg-white{
    background-color: white;
    color: #00c292;
    border-color: #00c292;
}

button.bg-white:hover, button.bg-white:active, button.bg-white:focus{
    background-color: #00c292;
    color: white !important;
}

button.bg-default{
    background-color: #00c292;
    color: white;
}

button.bg-default:hover, button.bg-default:active, button.bg-default:focus{
    color: white !important;
}

.text-white{
    color:white !important;
}

.font-weight-bold{
    font-weight: bold !important;
}

.drop-topmenu .dropdown-menu{
    left: inherit;
}

.header-top-area, .footer-copyright-area {
    padding: .1rem 1rem;
}

.nav-link{
    padding-top: 1rem;
    padding-bottom: 0rem;
}

.nav-link .badge{
    margin-top: -10px;
}

.modal-dialog.modals-default .modal-content, .modal-dialog.modal-sm .modal-content, .modal-dialog.modal-large .modal-content {
    padding: 15px 20px;
}

.dataTables_wrapper{
    margin-bottom: 10px;
}

#loaderPage{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(255,255,255); /* Black fallback color */
    background-color: rgba(255,255,255, 0.8); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s;
    z-index: 1000;
    color: #00c292;
    font-size: 1.5rem;
}

#loaderPage #loaderContent{
    position: relative;
    top: 30%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #00c292;
    border-bottom: 16px solid #00c292;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    text-align: center;
    margin: 1rem auto;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

body{
    padding: 0px !important;
}